<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <!-- Production / Gestion des OT -->
        <record id="is_gestion_des_ot_menu" model="ir.ui.menu" >
            <field name="name">Gestion des OT</field>
            <field name="sequence">28</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_production')"/>
            <field name="groups_id" eval="[(6,0,[ref('base.group_user')])]"/>
        </record>

        <menuitem id="menu_action_is_ot_form"                     sequence="1"   parent="is_gestion_des_ot_menu"          action="action_is_ot" />
        <menuitem id="menu_action_is_ot_affectation_form"         sequence="102" parent="is_plastigray.menu_is_dt_tables" action="action_is_ot_affectation"         name="Gestion des OT Affectation"/>
        <menuitem id="menu_action_is_ot_creation_state"           sequence="103" parent="is_gestion_des_ot_menu"          action="action_is_ot_creation"            name="Création"/>
        <menuitem id="menu_action_is_ot_analyse_ot_state"         sequence="104" parent="is_gestion_des_ot_menu"          action="action_is_ot_analyse_ot"          name="Analyse de l'OT"/>
        <menuitem id="menu_action_is_ot_travaux_a_realiser_state" sequence="105" parent="is_gestion_des_ot_menu"          action="action_is_ot_travaux_a_realiser"  name="Travaux à réaliser"/>
        <menuitem id="menu_action_is_ot_travaux_a_valider_state"  sequence="106" parent="is_gestion_des_ot_menu"          action="action_is_ot_travaux_a_valider"   name="Travaux à valider"/>
        <menuitem id="menu_action_is_ot_annule_state"             sequence="107" parent="is_gestion_des_ot_menu"          action="action_is_ot_annule"              name="Annulé"/>
        <menuitem id="menu_action_is_ot_termine_state"            sequence="108" parent="is_gestion_des_ot_menu"          action="action_is_ot_termine"             name="Terminé"/>

    </data>
</openerp>