<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem id="menu_is_dt_tables_is_fiche_tampographie_constituant" sequence="100" name="Constituant Tampographie"  parent="is_plastigray.menu_is_dt_tables" action="action_is_fiche_tampographie_constituant"/>
        <menuitem id="menu_is_fiche_tampographie_type_reglage"             sequence="101" name="Type réglage Tampographie" parent="is_plastigray.menu_is_dt_tables" action="action_is_fiche_tampographie_type_reglage"/>

        <record id="menu_is_dt_tampographie" model="ir.ui.menu">
            <field name="name">Tampographie</field>
            <field name="sequence">89</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_donnees_techniques')"/>
            <field name="groups_id" eval="[(6,0,[ref('base.group_user')])]"/>
        </record>

        <menuitem id="menu_is_fiche_tampographie" sequence="1" name="Tampographie"     parent="menu_is_dt_tampographie" action="action_is_fiche_tampographie" />
        <menuitem id="menu_is_encres_utilisees"   sequence="1" name="Encres utilisées" parent="menu_is_dt_tampographie" action="is_encres_utilisees_action" />

        <!-- Equipement -->
        <menuitem id="menu_is_equipement_type" sequence="10" name="Type equipement" parent="is_plastigray.menu_sub_main_moyens_fabrication_table" action="action_is_equipement_type" />
        <menuitem id="menu_is_equipement"      sequence="11" name="Equipement"      parent="is_plastigray.menu_sub_main_moyens_fabrication_table" action="action_is_equipement" />

        <!-- Head View -->
        <menuitem id="menu_action_is_head_model_form" sequence="30"  parent="base.menu_res_company_global" action="action_is_head_model_form" />

        <!-- Production / Gestion des OT -->
        <record id="is_gestion_des_ot_menu" model="ir.ui.menu" >
            <field name="name">Gestion des OT</field>
            <field name="sequence">28</field>
            <field name="parent_id" eval="ref('is_plastigray.menu_is_production')"/>
            <field name="groups_id" eval="[(6,0,[ref('base.group_user')])]"/>
        </record>

        <menuitem id="menu_action_is_ot_form"             sequence="1"   parent="is_gestion_des_ot_menu"          action="action_is_ot" />
        <menuitem id="menu_action_is_ot_affectation_form" sequence="102" parent="is_plastigray.menu_is_dt_tables" action="action_is_ot_affectation" name="Gestion des OT Affectation"/>

    </data>
</openerp>